services: 
  web:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "80:80"
  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example
      MARIADB_DATABASE: drupal
    volumes:
      - kit24dbdata:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  kit24dbdata: